@import "book.css";

h3 {
    margin-top: 15px;
    font-weight: 900;
    text-align: center;
}

.form {
    margin-top: 20px;
}

.inputs {
    margin-bottom: 40px;
}

.genresList {
    align-content: center;
    margin-top: 50px;
}