* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 1140px;
    margin: 0 auto;
}

.item {
    flex: 0 1 calc(100% / 4 - 15px);
    height: 200px;
    width: 100px;
    margin-top: 50px;
    margin-bottom: 20px;

    background: #FFDEAD;
}

@media (max-width: 1155px) {
    .container {
        justify-content: space-around;
    }

    .item {
        flex: 0 1 calc(100% / 3 - 15px);
    }
}

@media (max-width: 900px) {
    .item {
        flex: 0 1 calc(100% / 2 - 15px);
    }
}

@media (max-width: 600px) {
    .item {
        flex: 0 1 100%;
    }
}

.tab-lists {
    background: linear-gradient(40deg, #2096ff, #05ffa3);
    border: none;
    width: 100px;
    height: 35px;
}

a {
    color: #4188D2;
    font-size: 16px;
}